*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# elpa
elpa

# el-get
el-get

.recentf
.saved-places

# generated elisp files out of org literals
core.el
core/*.el
core/*.elc
*.elc
/modules/*.el

# tmpfiles
ac-comphist.dat
projectile-bookmarks.eld
projectile.cache
projectile-bookmarks.eld
/bookmarks
/flycheck_org-clock-save.el
/org-clock-save.el
/persp-confs/
/eshell/
